{% extends 'base.html.twig' %}

{% block title %}
    {{ article.nom }}
{% endblock %}

{% block body %}
<section>
    <h2>{{ article.titre }}</h2>

    <p>
        <img src="{{ asset('assets/img/' ~ article.image) }}" alt="{{ article.titre }}"/>
    </p>

    <p>
        <small>
            Créé le
            {{ article.dateCreation | date('d/m/Y') }}
            dans la catégorie
            {{ article.categorie.nom }}
        </small>
    </p>

    <div class="content-article">
        {{ article.contenu | raw }}
    </div>

</section>
<hr/>
{% endblock %}
