{% extends 'base.html.twig' %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block body %}
    <section>
        <p>
            <small>
                Créé le {{ article.dateCreation | date('d/m/Y') }} dans la catégorie {{ article.categorie.nom }}
            </small>
        </p>

        <p>
            <img src="{{ asset('assets/img/' ~ article.image) }}" alt="{{ article.titre }}" />
        </p>

        <div class="content-article">
            {{ article.contenu | raw }}
        </div>
    </section>
    <hr/>
{% endblock %}