<header>
    <a href="{{ path('homepage') }}">
        <img src="{{ asset('assets/img/sldn.png') }}" class="pagelogo" alt="SLDN" />
    </a>

    <h1>{{ pagetitle }}</h1>

    <nav>
        <ul>
            <li>
                <a href="{{ path('homepage') }}">{{ 'homepage.menu' | trans | capitalize }}</a>
            </li>
            {% for categorie in CategoriesService.getCategoriesList() %}
                <li>
                    <a href="{{ path('blog', { 'id': categorie.id }) }}">{{ categorie.nom }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{{ path('contact') }}">{{ 'contact.menu' | trans | capitalize }}</a>
            </li>
        </ul>
    </nav>
</header>
